.root {
  background-color: #de210b;
  color: #ffffff;
  border-radius: 12px;
  padding: 24px;
}

.container {
  position: relative;
  padding-right: 96px;
}

.image {
  position: absolute;
  height: 145px;
  width: 128px;
  top: calc(50% + 19px - 50px);
  right: -38px;
  background: url('../../../assets/img/image_card_gold.png') no-repeat;
  background-size: contain;
}