@use "~inter-ui/default" with (
  $inter-font-display: swap,
  $inter-font-path: '~inter-ui/web'
);

@use "~inter-ui/variable" with (
  $inter-font-display: swap,
  $inter-font-path: '~inter-ui/variable'
);

@include default.all;
@include variable.all;

html, body { font-family: "Inter", "system-ui"; }

@supports (font-variation-settings: normal) {
  html, body { font-family: "InterVariable", "system-ui"; }
}

body {
	margin: 0;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	min-height: 100vh;
	background-color: #fff;
}

#root {
	background-color: #fff;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/


html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}

button {
	border: none;
}

/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

body {
	line-height: 1;
	margin: 0;
}

ol,
ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
	box-sizing: border-box;
}

html {
	color: #1f1f1f;
}

a {
	color: inherit;
}

a,
a:active,
a:visited,
a:hover {
	text-decoration: none;
}

.App {
	margin: 20px 40px;
	display: flex;
	position: relative;
	gap: 20px;
}

.date {
	padding: 5px 10px;
	border: #1f1f1f 1px solid;
	border-radius: 5px;
	min-width: 90px;
	min-height: 25px;
	cursor: pointer;
}

*::-webkit-scrollbar,
*::-webkit-scrollbar-thumb {
  width: 16px;
  border-radius: 8px;
  background-clip: padding-box;
  border: 5px solid transparent;
  background-color: transparent;
}

*::-webkit-scrollbar:horizontal,
*::-webkit-scrollbar-thumb:horizontal {
  height: 16px;
  border-radius: 8px;
  background-clip: padding-box;
  border: 5px solid transparent;
}

*::-webkit-scrollbar-thumb {        
  box-shadow: inset 0 0 0 10px rgba(0, 0, 0, 0.1);
}